
@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap')
}

/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: #4d4e4f;
  --countdown-background-color: #433765;
  --main-text-color:#F7F6F4;
  --title-text-color:#3CBA8B;
}

body{
/*  background-color:var(--main-background-color);*/

  background: url("img/background.png");
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



